---
import { Store } from "@lucide/astro";
import Spacer from "@/components/Spacer.astro";
---

<section
  class="bg-gradient-to-br from-primary via-primary to-secondary text-white"
>
  <div class="py-20 main-container">
    <div class="flex items-center gap-3">
      <Store class="size-8" />
      <h2 class="text-3xl md:text-4xl font-semibold">Product Catalog</h2>
    </div>
    <Spacer class="h-3 md:h-4" />
    <p class="text-lg md:text-xl">Discover amazing products at great prices</p>
  </div>
</section>
