---
import Spacer from "@/components/Spacer.vue";
---

<div class="rounded-xl overflow-hidden shadow-sm border border-line p-4 md:p-6">
  <h3 class="text-xl md:text-2xl font-semibold">Product Details</h3>
  <Spacer class="h-4 md:h-6" />
  <ul class="space-y-3">
    <li class="flex items-center justify-between">
      <span class="text-text">Brand:</span>
      <span class="text-dark text-right font-medium">Men' Cloth</span>
    </li>
    <li class="flex items-center justify-between">
      <span class="text-text">Brand:</span>
      <span class="text-dark text-right font-medium">Men' Cloth</span>
    </li>
  </ul>
</div>
