---
import "@/styles/tailwind.css";

let {
  title = "CEC's Frontend Challenge",
  description = "CEC's Frontend Challenge",
  image = "",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>
